@use "../utils/variables" as var;
.container-1 {
  display: flex;
  justify-content: space-between;
  padding: 100px 20px;

  gap: 96px;
  align-items: center;
  .footer-brand {
    p {
      width: 300px;
      padding: 40px 0 64px;
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: var.$text-grey;
    }
    h4 {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: var.$text-grey;
    }
  }

  .landings {
    h3 {
      padding-bottom: 32px;
      font-family: Open Sans;
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: var.$text-dark;
    }
    .Landing-link {
      display: flex;
      flex-direction: column;
      gap: 22px;
      font-family: Open Sans;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: var.$text-grey;
      span {
        width: 172px;
        height: 30px;
        opacity: 1;
        top: 241px;
        left: 911px;
        gap: 10px;
        border-radius: 120px;
        padding-top: 1px;
        padding-right: 14px;
        padding-bottom: 1px;
        padding-left: 14px;
        background-color: var.$bg-green;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 13px;
        line-height: 28px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: var.$text-darkblue;
      }
    }
  }
}
@media (max-width: 1060px) {
  .container-1 {
    flex-wrap: wrap;
    justify-content: center;
    .footer-brand {
      p {
        width: 100%;
      }
    }
  }
}
