@use "./typography";
@use "../utils/function" as func;
* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-family: "Open Sans", "Manrope", sans-serif;
}
.container {
  $mb-padding: 20;
  max-width: func.container(1400, 100, $mb-padding);
  margin: 0 auto;
  padding: 0 $mb-padding + px;
}
.container-1 {
  $mb-padding: 20;
  max-width: func.container(1400, 100, $mb-padding);
  margin: 0 auto;
  padding: 0 $mb-padding + px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
